<!DOCTYPE html>
<html>
    <head>
        <title>Vladu Stefan blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vladu Stefan Blog</a></h1>
        </header>
        {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr}}</p>
        </article>
        {%endfor%}
        <article>
            <h2><a href="">Concluzie</a></h2>
            <p>{% for post in posts %}
                {{ post }}
            {% endfor %}</p>
        </article>
    </body>
</html>