<!DOCTYPE html>
<html>
    <head>
        <title>Vladu Stefan blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vladu Stefan Blog</a></h1>
        </header>

        <article>
            <time>Astazi 16/03/2023 ora 19:13</time>
            <h2><a href="">Introducere</a></h2>
            <p>(introducere chipurile)</p>
        </article>

        <article>
            <h2><a href="">Concluzie</a></h2>
            <p>(Concluzie chipurile)</p>
        </article>
    </body>
</html>