<!DOCTYPE html>
<html>
    <head>
        <title>Vladu Stefan blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vladu Stefan Blog</a></h1>
        </header>

        <article>
            <time>Astazi 16/03/2023 ora 19:13</time>
            <h2><a href="">Prima concluzie</a></h2>
            <p>Bebe e prietenos</p>
        </article>

        <article>
            <time>Cateodata</time>
            <h2><a href="">A doua concluzie</a></h2>
            <p>Bebe e putin cam gay</p>
            <time> Mai mereu </time>
        </article>
    </body>
</html>